<header id="header">
    {{#is "index"}}
		<a href="{{@blog.url}}">{{> "icons/logo_1"}}</a>
    {{else}}
		<a href="{{@blog.url}}">{{> "icons/logo_2"}}</a>
    {{/is}}
    {{^is "home"}}
    	{{> menu}}
    {{/is}}
</header>
